.app {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  
.heading{
  font-family:'Lora', serif;
  font-weight: 400;
  font-size: 60px;
  background-color: rgb(71, 220, 148);
}
   



